/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  margin-left: 35px;
  margin-top: 20px;
}
.heading {
  align-items: flex-start;
}
.icon {
  width: 20px;
}
.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.input-container {
  display: flex;
  flex-direction: row;
  background-color: #f1f5f9;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
}
.input {
  border: none;
  outline: none;
}
